
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: efd2cb;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #333;
    background-color: #c7a27c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headings-container {
    margin-bottom: 20px;
}

.interaction-container {
    text-align: center;
}

.text-control {
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 50px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.error-para {
    color: red;
    margin-top: 5px;
}

.btn {
    padding: 10px 20px;
    background-color: #e74444;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #a92727;
}
h1{
    text-align: center;
}