.container { 
	display: flex; 
	flex-direction: column; 
	width: 50%; 
    height:60%;
	 margin-left: 400px;  
	 padding: 50px;   
	background-color: #D0E8D0; /* Light green background color */
} 

.table { 
	border: 2px solid #8B4513; /* Wood color for border */
} 

.row { 
	border: 2px solid #8B4513; /* Wood color for border */
} 

.no-of-notes { 
	border: 2px solid #8B4513; /* Wood color for border */
} 

.check-btn { 
	margin-top: 25px; 
	padding: 10px; 
	background-color: #8B4513; /* Wood color for button background */
	color: #D0E8D0; /* Light green text color for button */
} 

.input-bill { 
	margin-top: 25px; 
	padding: 10px; 
} 

.cash-given { 
	margin-top: 25px; 
	padding: 10px; 
}
