
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --peach: rgb(235, 101, 38);
}

*::selection {
    background: var(--peach);
    color: rgb(65, 4, 21);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: rgb(33, 2, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--peach);
}

header .user .name {
    font-size: 3.5rem;
    color: #fff;
}

header .navbar {
    width: 100%;
}

header.navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem;
    background: rgb(65, 4, 21);
    color: #fff;
    font-size: 2rem;
    border-radius: 2rem;
}

header .navbar ul li a:hover {
    background: var(--peach);
    color: rgb(33, 2, 11);
}

body {
    background-color: rgb(46, 28, 33);
    padding-left: 35rem;
}

.home {
    display: flex;
    justify-content: left;
    flex-flow: column;
    padding-left: 20rem;
    padding-top: 35rem;
    padding-right: 25rem;
    background-image: url('Images/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home h3 {
    font-size: 2.5rem;
    color: #f5a97d;
}

.home h1 {
    font-size: 5rem;
    color: #ffff;
}

.home p {
    font-size: 2rem;
    color: #ffff;
    padding: 1rem 0;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.about {
    min-height: 100vh;
    padding: 2rem;
}

.about .heading {
    text-align: center;
    font-size: 4rem;
    color: #f5a97d;
    padding: 0.75%;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
}

.about .content {
    color: #fff;
    padding: 3rem; 
    flex: 1 1 100%;
}

.about .content h3 {
    font-size: 2.5rem;
}

.about .content h1 {
    font-size: 4.5rem;
}

.about .content p {
    font-size: 2rem;
    color: #ffff;
    padding: 1.5rem 0; 
}


.about .info {
    padding: 2rem;
    flex: 1 1 100%;
}

.about .info h3 {
    font-size: 2.5rem;
    color: #ffff;
    
    margin-bottom: 1.5rem;
}

.progress-bar {
    margin-bottom: 1.5rem;
    width: 50%;
}

.skill-name {
    font-size: 1.8rem; 
    color: #fff;
    margin-bottom: 0.5rem;
    
}

.progress {
    height: 20px;
    background-color: rgba(33, 2, 11, 0.8);
    border-radius: 0.5rem;
    overflow: hidden;
}

.progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: #f5a97d; 
   
}

.resume-button {
    display: inline-block;
    background-color: var(--peach);
    color: #fff;
    border-right: 5rem;
    padding:1.5rem;
    text-decoration: none;
    border-radius: 0.3rem;
    font-size: 2rem;
    margin: 1.5rem;
    text-align: center;
    float: right;
}

.resume-button:hover {
    background-color: #dad6d6;
    color: rgba(33, 2, 11, 0.8);
}


.edu .box-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}

.edu .box {
    width: 95%;
    margin: 2rem 0;
    padding: 2rem;
    border-top-width: 2rem;
    background-color: rgba(65, 4, 21, 0.8);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.edu .box:hover {
    transform: scale(1.05);
    background-color: solid rgba(65, 4, 21, 0);
}

.edu .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(33, 2, 11, 0) 0%, rgba(33, 2, 11, 0.8) 100%);
    padding-top: 30rem;
    z-index: 1;
    border-top-width: 3rem;
}

.edu .box span {
    font-size: 1.5rem;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    background-color: var(--peach);
    color: #fff;
    position: relative;
    z-index: 2;
}

.edu .box h2 {
    font-size: 2.5rem;
    color: #fff;
    padding-top: 1.5rem;
    z-index: 2;
}

.edu .box p {
    font-size: 1.3rem;
    padding-top: 1rem;
    color: #fff;
    font-size: medium;
    line-height: 1.5;
    z-index: 2;
}

.edu .box-container {
    display: grid;
    
    gap: 2rem;
}

.edu .box {
    width: 95%; 
    border-top: 1rem;
}

.edu .heading{
    text-align: center;
    font-size: 4rem;
    color: #f5a97d;
    padding: 0.75%;
}

.edu .box h1 {
    color: #ffffff; 
    font-size: 3.5rem;
    
}

.edu .box h2 span {
    color: var(--peach);
}

.edu .box-container .box {
    width: 100%;
    margin: 2rem 0;
}

.edu .box-container .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(33, 2, 11, 0) 0%, rgba(33, 2, 11, 0.8) 100%);  
    z-index: 1;
}

.edu .box-container .box span {
    font-size: 1.5rem;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    background-color: var(--peach);
    color: #fff;
    position: relative;
    z-index: 2;
}

.edu .box-container .box h2 {
    font-size: 2.5rem;
    color: #fff;
    padding-top: 1.5rem;
}

.edu .box-container .box p {
    font-size: 1.3rem;
    padding-top: 1rem;
    color: #fff;
    font-size: medium;
    line-height: 1.5;
}

.contact {
    min-height: 100vh;
    padding: 2rem;
}

.contact .heading {
    text-align: center;
    font-size: 4rem;
    color: #f5a97d;
    padding: 0.75%;
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
}

.contact-form form {
    display: flex;
    flex-flow: column;
    color:#fbf8f8;
}

.contact-form label {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 1.4rem;
    /* border: 0.2rem solid var(--peach); */
    border-radius: 0.5rem;
    color: #000;
    background-color: #cbbfb5;
    
}

.contact-form button {
    background-color: var(--peach);
    color: #dcd7d7;
    padding: 1.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.contact-info {
    margin-top: 2rem;
}

.contact-info h2 {
    font-size: 2.5rem;
    color: var(--peach);
    padding-top: 2rem;
}

.contact-info p {
    font-size: 1.6rem;
    color: #dad6d6;
    margin: 0.7rem 0;
}

.text-bottom-left {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.8rem;
    color: var(--peach);
    padding: 1rem;
}
.projects .heading{
    text-align: center;
    font-size: 4rem;
    color: #f5a97d;
    padding: 0.75%;
}
.projects .linkk{
    color:#f5a97d;
    font-size: 3rem;
}    
