/* body {
  background-color: #EFD2CB; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #CCD7C5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  max-width: 400px; 
  width: 100%;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

label,
input,
select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #5a5a5a; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #7d7d7d; 
}

#tip {
  text-align: center;
  font-weight: bold;
} */
body {
  background-color: #EFD2CB; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #CCD7C5;
  padding: 40px; /* Increased padding */
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  max-width: 500px; 
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px; /* Increased margin */
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 15px; /* Increased padding */
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
}

input[type="submit"] {
  padding: 15px; /* Increased padding */
  background-color: #5a5a5a; 
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #7d7d7d; 
}

#tip {
  text-align: center;
  font-weight: bold;
}
